#Class files
bin/*
*.class

#Log files
*.log

#Workspace file
res/workspace/

#IDE-specific files
.idea/
*.iml
.settings/
.classpath
.project

#OS-specific files
.DS_Store
Thumbs.db

#Maven build
target/
!target/.gitkeep  # Allows keeping the empty target directory if needed
*.war
*.ear

#Maven compilation metadata
target/maven-archiver/
target/maven-status/

#JDK files
res/JDK/DefaultJDK.dat
res/JDK/JDK.dat

#Dependency files
/lib/javafx-sdk-*/